  <h3>Acerca de Jośe Antonio Urosa</h3>
  <p>Hola, este soy yo, José Antonio Urosa</p>
  <img src="jam.jpg" alt="Just me!" height="50" width="50" > 
<p>Si quieres saber algo de mi, aquí tienes mi <a href="https://www.linkedin.com/profile/view?id=1098212">linkedin</a></p>
