  <h3>Busqueda de preguntas</h3>
  <p>En esta sección se podrán buscar preguntas asociadas a un termino de busqueda</p>
  <p></p>
   <form action="/quizes">
Busqueda:<input type="text" name="search" value="Roma">
<input type="submit" value="Enviar">
</form> 